/* HEADER */

.page-header {
    background-color: #2C3E50;
    color: white;
}




/* HERO */

.hero-page {
    background-color: #1ABC9C;
    color: white;
}

.hero-img {
    max-width: 260px;
    height: auto;
}

.space {
    background-color: white;
    width: 10%;
    height: 3px;
    border-radius: 999px;
}


/* PORTFOLIO */

.portfolio-img {
    max-width: 360px;
    height: auto;
    border-radius: 20px;
    display: block;
}

/* ABOUT */

.about-page {
    background-color: #1ABC9C;
}

.button {
    border: 1px solid white;
    border-radius: 5px;
}


/* CONTACT ME */

.space-contact {
    opacity: 0.5;
    width: 80%;
    height: 2px;
    border-radius: 999px;
}

.send-button {
    background-color: #1ABC9C;
    border-radius: 5px;
}

/* FOOTER */

.footer-up {
    background-color: #3A546D;
}

.footer-down {
    background-color: #2C3E50;
}

.green {
    color: #1ABC9C;
}

.social {
    border: 1px solid white;
    line-height: 2px;
    border-radius: 50%;
}

/* MEDIAQUEERY */

@media (min-width: 576px) { 
    .col-4 {
        width: 100%;
    }

    .portfolio-img {
        max-width: 100%;
    }

    .about-col {
        flex-direction: column;
        gap: 20px;
    }

    .about-col > .col {
        width: 100%;
    }

    .footer-first-col {
        flex-direction: column;
    }

    .footer-first-col > .col-4 {
        width: 100%;
    }

   

}


@media (min-width: 768px) { 
    .col-4 {
        width: 50%;
    }

  


}


@media (min-width: 992px) { 
    .about-col {
        flex-direction: row;
    }

    .about-col > .col {
        width: 50%;
    }

    .footer-first-col {
        flex-direction: row;
    }

    .footer-first-col > .col-4 {
        width: 33.3%;
    }

   
}


@media (min-width: 1200px) { 
    .col-4 {
        width: 33.3%;
    }
}


@media (min-width: 1400px) { }

/* RESET */

a {
    color: currentColor;
    text-decoration: none;
}

/* DEBUG */

.debug .container-fluid,
.debug .container {
    border: 2px solid orange;
    padding: 10px;
}

.debug .row {
    border: 2px solid red;
    padding: 10px;
}

.debug [class^="col"] {
    border: 2px solid blue;
    padding: 10px;
}