/* HERO */

.hero-featured-img > img {
    max-width: 225px;
    height: auto;
}

.star {
    color: blue;
}

/* PORTFOLIO */

.portfolio-img {
    max-width: 360px;
    border-radius: 20px;
    display: block;
}

/* CONTACT ME */



/* MEDIAQUEERY */

@media (min-width: 576px) { 
    .col-4 {
        width: 100%;
    }

    .portfolio-img {
        max-width: 100%;
    }

    .about-col {
        flex-direction: column;
    }

    .about-col > .col-6 {
        width: 100%;
    }

    .footer-first-col {
        flex-direction: column;
    }

    .footer-first-col > .col-4 {
        width: 100%;
    }

}


@media (min-width: 768px) { 
    .col-4 {
        width: 50%;
    }

}


@media (min-width: 992px) { 
    .about-col {
        flex-direction: row;
    }

    .about-col > .col-6 {
        width: 50%;
    }

    .footer-first-col {
        flex-direction: row;
    }

    .footer-first-col > .col-4 {
        width: 33.3%;
    }
}


@media (min-width: 1200px) { 
    .col-4 {
        width: 33.3%;
    }
}


@media (min-width: 1400px) { }

/* RESET */

a {
    color: currentColor;
    text-decoration: none;
}

/* DEBUG */

.debug .container-fluid,
.debug .container {
    border: 2px solid orange;
    padding: 10px;
}

.debug .row {
    border: 2px solid red;
    padding: 10px;
}

.debug [class^="col"] {
    border: 2px solid blue;
    padding: 10px;
}